body{
    background-color: pink;
    color:white;
}
#object #names #accuracy {
    color: blue;
}

.header {
    color: blue;
    width: 80%;
}

#camera{
border:2px dashed blue;
height: 300px;
width: 300px;
}